html{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
   }
body{beckground-color: black;}
   h1{
    text-align: center;
    color:white;
    text-shadow: -2px 2px 5px #FF0000, 2px -2px 5px #0000FF;
    font: italic bold 2em Georgia, serif;
   }
.label{                      
    padding: 15px;   
    word-break: keep-all;                    
 }
 .szekcio{
    background-color: rgba(255,255,255,0.8) ; 
    border: 1px solid navy;
    border-radius: 0% 30% 0% 15%;
    padding: 15px;
    margin-top:4%;
 }
 .feladat{
    background-color: rgb(180,189,250) ; 
    border: 1px solid navy;
    border-radius: 10px;
    padding: 5px;
    margin-top:4%;
 }
 input[type=button]{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
 }
